@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

:root {
  --black: #130f0d;
  --primary: #f6b926;
  --white: #f0f0f9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, 
button,
input {
    font-family: 'Montserrat', sans-serif;
}

body {
  height: 100vh;

  background-color: var(--black);
  color: var(--white);
}

header {
  margin-top: 32px;

  text-align: center;
  height: 100px;
  color: var(--primary);
}

main {
  margin: 0 auto;
  width: 420px;
  max-width: 100%;
}

textarea 
{
    font-size: .8rem;
    font-weight: 900;
    letter-spacing: 1px;

    color: var(--black);
    padding: 10px;
    line-height: 1.5;

    resize: none;

    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}